
a:hover{
    border-bottom: 1px solid;
    background: #CDFEAA;
}

ul{
    font-size: large;
    color: pink;
}

table{
    font-size: large;
    color: blueviolet;
}

.test1 {
    background-color: black;
}

#test2 {
    background-color: aquamarine;
}